[Unit]
Description=PumaRedditApp
After=mongod.service

[Service]
Type=simple
#Environment=PUMA_DEBUG=1
WorkingDirectory=/usr/local/bin/reddit
ExecStart=/usr/local/bin/puma -C config/deploy/production.rb

[Install]
WantedBy=multi-user.target
