cloud_id                 = "yyyxxxxxxxxxxxxxxx"
folder_id                = "xxyyyyyyyyyyyyyyyyy"
zone                     = "ru-central1-a"
image_id                 = "yyxxxxxxxxxxxxxxxxxxx"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bhevsvolv541ars58u"
service_account_key_file = "path/to/key.json"
private_key_path         = "~/.ssh/appuser"
instance_count = 2
